@{
    ViewBag.Title = "Home Page";
}

<header class="section s1 hidden-xs ">




    <div id="myslide" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myslide" data-slide-to="0" class="active"></li>
            <li data-target="#myslide" data-slide-to="1"></li>
            <li data-target="#myslide" data-slide-to="2"></li>
            <li data-target="#myslide" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/clinic_01.jpg" width="100%" alt="pic 1">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/images/clinic_02.jpg" width="100%" alt="pic 2">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/images/clinic_03.jpg" width="100%" alt="pic 3">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/images/clinic_03.jpg" width="100%" alt="pic 4">
                <div class="carousel-caption">
                    ...
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myslide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-share-alt-chevron-left"></span>
        </a>

        <a class="right carousel-control" href="#myslide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-share-alt-chevron-right"></span>
        </a>
    </div>

</header>
<setion class="section s2">

    <div class="service col-lg-12">
        <div class="container day">
            <div class="row">
                <div class="our-d col-sm-12 col-xs-12">
                    <div class="col-sm-12  col-xs-12 text-center">
                        <h2 class="our col-lg-12 text-center">الخدمات </h2>
                    </div>
                    <div class="info  col-sm-6   col-xs-12">
                        <div class="icon justify-content-center align-items-center d-flex"><span><img id="im-g" src="~/images/icons8-doctor-male-48.png"></span></div>
                        <div class="">
                            <h3 class="">ابحث عن دكتور</h3>
                            <p> أسهل طريقة للبحث عن أفضل وأكبر الاطباء  </p>
                        </div>
                    </div>  <div class="col-sm-6   col-xs-12">
                        <div class="icon justify-content-center align-items-center d-flex"><span><img id="im-g" src="~/images/icons8-nurse-male-48.png"></span></div>
                        <div class="">
                            <h3 class="">ابحث عن ممرض</h3>
                            <p>اسهل طريقة للبحث وحجز الممرضين لتقديم الرعاية المطلوبه للمرضى </p>
                        </div>
                    </div>  <div class="col-sm-6   col-xs-12">
                        <div class="icon justify-content-center align-items-center d-flex"><span><img id="im-g" src="~/images/icons8-report-card-48.png"></span></div>
                        <div class="">
                            <h3 class="">ابحث عن معامل التحاليل والاشعة الطبية</h3>
                            <p> اسهل طريقة للبحث عنن مراكزالاشعة عن طريق اسم ونوع التحاليل والاشعة حسب المكان </p>
                        </div>
                    </div>  <div class="col-sm-6   col-xs-12">
                        <div class="icon justify-content-center align-items-center d-flex"><span><img id="im-g" src="~/images/icons8-survey-48.png"></span></div>
                        <div class="">
                            <h3 class="">ملف طبي الكتروني</h3>
                            <p>يقوم بالاحتفاظ بملفات المرضى بتنظيم كافة النتائج المخبرية والتقارير الطبية والتشخيصات وكافة الاجراءات الطبية في ملف طبي الكتروني امن ومخزن</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</setion>
