.dropdown-toggle.line.tool-1{
    text-decoration: none;
    
}
.tool-2{
    position: absolute;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
}
.open > .tool-2{
    display: block;
}
.line-tool{
    text-decoration: none !important;
    font-size: 17px;
    font-weight: 600;
    color: #006492 ;
}
.caret-tool {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-right: 100px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-tool{
    position: relative;
    text-decoration: none;
    list-style: none;
}
li.dropdown-tool.open{
margin-bottom: 100px;
}

.divider-tool{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.menuee{
    border:2px solid gray;
}
.address {
    font-size: 17px;
    color: blue;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.address .icon{
    
}
.address span{
    margin-right:10px;
}